<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css" />
    <!-- CSS  -->
    <link href="node_modules/material-icons/css/material-icons.css" rel="stylesheet">
    <link href="node_modules/material-design-icons/iconfont/material-icons.css" rel="stylesheet">
    <link href="styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="node_modules/typeface-squada-one/index.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel= "stylesheet" type= "text/css" href= "styles/styles.css" />
    <link rel= "stylesheet" type= "text/css" href= "styles/buttons.css" />
    <link rel="stylesheet" href="node_modules/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="node_modules/slick-carousel/slick/slick-theme.css" />
    <title>Raspberry Pi Application</title>
    <!--meta data tags-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <style>
        #mapid { height: 900px; }
    </style>
</head>
<body ng-app="app" ng-controller="AppController as appCtrl">
<nav class="white first" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Raspberry Pi</a>
        <ul class="right hide-on-med-and-down">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="orders" id="ordersnav">Move!</a></li>
            <li><a ui-sref="map" id="mapnav">Map</a></li>
            <li><a ui-sref="about" id="aboutnav">About</a></li>
            <li><a ng-click="appCtrl.killPi()">Exit Server</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav background">
            <li><h3 class="font-black container top-space">Raspberry Pi Options</h3></li>
            <li><a ui-sref="home" class="container top-space">Home</a></li>
            <li><a ui-sref="orders" class="container top-space">Move!</a></li>
            <li><a ui-sref="map" class="container top-space">Map</a></li>
            <li><a ui-sref="about" class="container top-space">About</a></li>
            <li><a class="container top-space" ng-click="appCtrl.killPi()">Exit Server</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse" id="navmob"><i class="material-icons">menu</i></a>
    </div>
</nav>
<ui-view></ui-view>
</body>
<!--cdn imports-->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
<script src="node_modules/leaflet/dist/leaflet.js"></script>
<script src="node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<!--customjs imports-->
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
        integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
        crossorigin=""></script>
<!--jQuery imports-->
<script src= "scripts/jquery/init.js"></script>
<script src= "scripts/jquery/camera.js"></script>
<script src= "scripts/jquery/slider.js"></script>
<!--AngularJS imports-->
<script src= "scripts/app.js"></script>
<script src= "scripts/routing.js"></script>
<script src= "scripts/MapController.js"></script>
<script src= "scripts/AppController.js"></script>
<script src= "scripts/OrdersController.js"></script>
<script src= "scripts/DebugController.js"></script>
<script src= "scripts/rewindFactory.js"></script>
<script src= "scripts/ledService.js"></script>
<script src= "scripts/driveService.js"></script>
<script src= "scripts/ordersService.js"></script>
<script src= "scripts/orderDirectionService.js"></script>
<script src= "scripts/exitService.js"></script>
</html>