<main class="container">
    <h1>What is Raspberry Pi Cart?</h1>
    <div class="responsive">
        <img src="images/IMG_1079.jpg" style="height: 600px; width: auto; max-height: 100%"/>
        <img src="images/IMG_1080.jpg" style="height: 600px; width: auto; max-height: 100%"/>
        <img src="images/IMG_1061.jpg" style="height: 600px; width: auto; max-height: 100%"/>
    </div>
    <br />
    <h3>Bio</h3>
    <p>
        The Raspberry Pi project was started in September 2016 to push the boundaries of innovation.
        It currently is built with Java and JavaScript with Spring-Boot and AngularJS.
    </p>
</main>