<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text lighten-5">Raspberry Pi Movement!</h1>
            <div class="row center">
                <h5 class="header col s12 white-text light">A responsive Raspberry Pi Application</h5>
            </div>
            <div class="row center">
                <a ui-sref="/map" id="download-button" class="btn-large waves-effect waves-light grey lighten-1">Find that pi</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/styles/main.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax"><iframe id="camera-screen" frameborder="0" class="iframe"></iframe></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center button-background">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <div>
                    <div class="row">
                        <div class="row">
                            <button id="forwards" class="btn waves-effect waves-light" ng-click="appCtrl.driveForwards()">forwards</button>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" ng-click="appCtrl.driveLeft()">left</button>
                            <button class="btn-floating btn-large waves-effect waves-light red" ng-click="appCtrl.getData()"><i class="large material-icons">volume_up</i></button>
                            <button class="btn waves-effect waves-light" ng-click="appCtrl.driveRight()">right</button>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" ng-click="appCtrl.driveBackwards()">backwards</button>
                        </div>
                    </div>
                </div>
                <h4>Rewind The Pi</h4>
                <div>
                    <button class="btn-floating btn-large waves-effect waves-light purple" ng-click="appCtrl.rewind()"><i class="large material-icons">replay</i></button>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-controller="DebugController as debugCtrl" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/styles/main.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Raspberry Pi Application</h5>
                <p class="grey-text text-lighten-4">The Raspberry Pi App is a mobile app that you can use to view your Raspberry Pi cart and control it</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Pages</h5>
                <ul>
                    <li><a class="white-text" href="#!">Home</a></li>
                    <li><a class="white-text" href="#!">Map</a></li>
                    <li><a class="white-text" href="#!">About</a></li>
                    <li><a class="white-text" href="#!">Exit Server</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Explore</h5>
                <ul>
                    <li><a class="white-text" href="https://www.raspberrypi.org/">Raspberry Pi Website</a></li>
                    <li><a class="white-text" href="https://www.hackster.io/raspberry-pi/projects">Hackster</a></li>
                    <li><a class="white-text" href="https://lifehacker.com/top-10-raspberry-pi-projects-for-beginners-1791002723">Lifehacker</a></li>
                    <li><a class="white-text" href="https://pimylifeup.com/">Pi My Life Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="blue-grey darken-4" href="http://localhost">Pi Power</a>
        </div>
    </div>
</footer>
<!--cdn imports-->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="/node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
<script src="/node_modules/leaflet/dist/leaflet.js"></script>
<script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<!--jQuery imports-->
<script src= "/scripts/jquery/init.js"></script>
<script src= "/scripts/jquery/camera.js"></script>
<script src= "/scripts/jquery/slider.js"></script>
<!--AngularJS imports-->
<script src= "/scripts/app.js"></script>
<script src= "/scripts/routing.js"></script>
<script src= "/scripts/MapController.js"></script>
<script src= "/scripts/AppController.js"></script>
<script src= "/scripts/DebugController.js"></script>
<script src= "/scripts/rewindFactory.js"></script>
<script src= "/scripts/ledService.js"></script>
<script src= "/scripts/driveService.js"></script>
<script src= "/scripts/exitService.js"></script>