<main class="container" ng-controller="OrdersController as ordersCtrl">
    <h1 id="heading">Orders people!</h1>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center button-background">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <div>
                        <div class="row">
                            <div class="row">
                                <button class="btn waves-effect waves-light" ng-click="ordersCtrl.driveForwards()">forwards</button>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light" ng-click="ordersCtrl.driveLeft()">left</button>
                                <button class="btn-floating btn-large waves-effect waves-light green" ng-click="ordersCtrl.orderData()"><i class="large material-icons">play_circle_outline</i></button>
                                <button class="btn waves-effect waves-light" ng-click="ordersCtrl.driveRight()">right</button>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light" ng-click="ordersCtrl.driveBackwards()">backwards</button>
                            </div>
                        </div>
                    </div>
                    <h4>Rewind The Pi</h4>
                    <div>
                        <button class="btn-floating btn-large waves-effect waves-light purple" ng-click="ordersCtrl.orderData()"><i class="large material-icons">replay</i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="/node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
<script src="/node_modules/leaflet/dist/leaflet.js"></script>
<script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<!--jQuery imports-->
<script src= "/scripts/jquery/init.js"></script>
<script src= "/scripts/jquery/camera.js"></script>
<script src= "/scripts/jquery/slider.js"></script>
<!--AngularJS imports-->
<script src= "/scripts/app.js"></script>
<script src= "/scripts/routing.js"></script>
<script src= "/scripts/MapController.js"></script>
<script src= "/scripts/AppController.js"></script>
<script src= "/scripts/DebugController.js"></script>
<script src= "/scripts/rewindFactory.js"></script>
<script src= "/scripts/ledService.js"></script>
<script src= "/scripts/driveService.js"></script>
<script src= "/scripts/exitService.js"></script>